<!--breadcrumbs start-->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <h1>Cámaras</h1>
      </div>
      <div class="col-lg-8 col-sm-8">
        <ol class="breadcrumb pull-right">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Productos</a></li>
          <li class="active">Cámaras</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs end-->

<!--container start-->
<div class="gray-bg price-container">
  <div class="container">


    <div class="row mar-b-30">
      <!--price start-->
      <div class="col-lg-3 col-sm-3">
        <div class="pricing-table wow fadeInUp">
          <div class="pricing-head">
            <h1> Cámaras Domo HD </h1>
            <!--<h2>
              <span class="note">$</span>100</h2>-->
          </div>
          <ul class="list-unstyled">
            <li>HD 1080p</li>
            <li>HD 720p</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3">
        <div class="pricing-table wow fadeInUp">
          <div class="pricing-head">
            <h1> Cámaras Experior HD</h1>
            <!--<h2>
              <span class="note">$</span>200</h2>-->
          </div>
          <ul class="list-unstyled">
            <li>HD 1080p</li>
            <li>HD 720p</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3">
        <div class="pricing-table most-popular wow fadeInUp">
          <div class="pricing-head">
            <h1> DVR HD </h1>
            <!--<h2>
              <span class="note">$</span>300</h2>-->
          </div>
          <ul class="list-unstyled">
            <li>Capacidad para 4 cámaras HD 1080p</li>
            <li>Capacidad para 4 cámaras HD 720p</li>
            <li>Capacidad para 8 cámaras HD 1080p</li>
            <li>Capacidad para 8 cámaras HD 720p</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3">
        <div class="pricing-table wow fadeInUp">
          <div class="pricing-head">
            <h1> Disco Duro </h1>
            <!--<h2>
              <span class="note">$</span>400</h2>-->
          </div>
          <ul class="list-unstyled">
            <li>1 TB</li>
            <li>2 TB</li>
            <li>4 TB</li>
            <li>8 TB</li>
            <li>16 TB</li>
          </ul>
        </div>
      </div>
      <!--price end-->
    </div>


  </div>
</div>
<!--container end-->
