<!--breadcrumbs start-->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <h1>
          Nosotros
        </h1>
      </div>
      <div class="col-lg-8 col-sm-8">
        <ol class="breadcrumb pull-right">
          <li>
            <a href="/">
              Inicio
            </a>
          </li>
          <!--
<li>
<a href="#">
Pages
</a>
</li>
-->
          <li class="active">
            Nosotros
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs end-->

<!--container start-->
<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <div class="about-carousel wow fadeInLeft">
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <img src="img/service3.jpg" alt="">
              <div class="carousel-caption">
                <p>
                  Un equipo integral de profesionales.
                </p>
              </div>
            </div>
            <div class="item">
              <img src="img/service2.jpg" alt="">
              <div class="carousel-caption">
                <p>
                  Dedicados a solucionar los problemas de sus clientes.
                </p>
              </div>
            </div>
            <div class="item">
              <img src="img/service5.jpg" alt="">
              <div class="carousel-caption">
                <p>
                  Gypnetwork Limitada
                </p>
              </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left">
            </i>
          </a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right">
            </i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-7 about wow fadeInRight">

      <p>
        Somos una empresa especializada en el área de las Telecomunicaciones Digitales y la Seguridad, contamos con amplia experiencia en la instalación de cámaras con circuito cerrado de televisión, centrales de alarmas para el hogar y la oficina, configuraciones de equipos de red y centrales telefónicas.
      </p>
      <ul class="list-unstyled">
        <li>
          <i class="fa fa-angle-right pr-10">
          </i>
          Cámaras de vigilancia con Circuito Cerrado de TV
        </li>

        <li>
          <i class="fa fa-angle-right pr-10">
          </i>
          Cámaras de Vigilancia con tecnología IP
        </li>

        <li>
          <i class="fa fa-angle-right pr-10">
          </i>
          Centrales de alarma para el hogar y la industria.
        </li>

        <li>
          <i class="fa fa-angle-right pr-10">
          </i>
          Centrales Teléfonicas
        </li>

        <li>
          <i class="fa fa-angle-right pr-10">
          </i>
          Citofonía.
        </li>

        <li>
          <i class="fa fa-angle-right pr-10">
          </i>
          Control de acceso.
        </li>

      </ul>
      <blockquote>
        <p>
          Siempre buscando el profesionalismo en todos nuestros trabajos realizados.
        </p>
        <small>
          Gypnetwork Limitada
        </small>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="hiring">
      <h2 class="wow flipInX">
        Gypnetwork Ltda.
      </h2>
      <div class="col-lg-6 col-sm-6 about-hiring">
        <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1s" data-wow-delay=".1s">
          <i class="fa fa-user">
          </i>
        </div>
        <div class="content">
          <h3 class="title wow flipInX">
            Cámaras de seguridad
          </h3>
          <p>
            Suspendisse dignissim in sem eget pulvinar. Mauris aliquam nulla at libero pretium, eu tincidunt nulla molestie pulvinar posuere.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 about-hiring">
        <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1s" data-wow-delay=".3s">
          <i class="fa fa-user">
          </i>
        </div>
        <div class="content">
          <h3 class="title wow flipInX">
            Alarmas para el Hogar
          </h3>
          <p>
            Suspendisse dignissim in sem eget pulvinar. Mauris aliquam nulla at libero pretium, eu tincidunt nulla molestie pulvinar posuere.
          </p>
        </div>
      </div>

      <div class="col-lg-6 col-sm-6 about-hiring">
        <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
          <i class="fa fa-user">
          </i>
        </div>
        <div class="content">
          <h3 class="title wow flipInX">
            Centrales Telefónicas
          </h3>
          <p>
            Suspendisse dignissim in sem eget pulvinar. Mauris aliquam nulla at libero pretium, eu tincidunt nulla molestie pulvinar posuere.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 about-hiring">
        <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1s" data-wow-delay=".7s">
          <i class="fa fa-user">
          </i>
        </div>
        <div class="content">
          <h3 class="title wow flipInX">
            Redes Locales
          </h3>
          <p>
            Suspendisse dignissim in sem eget pulvinar. Mauris aliquam nulla at libero pretium, eu tincidunt nulla molestie pulvinar posuere.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="gray-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <!--testimonial start-->
        <div class="about-testimonial boxed-style about-flexslider ">
          <section class="slider wow fadeInRight">
            <div class="flexslider">
              <ul class="slides about-flex-slides">
                <li>
                  <div class="about-testimonial-image ">
                    <img alt="" src="img/person_1.png">
                  </div>
                  <a class="about-testimonial-author" href="#">
                    Javier Pérez
                  </a>
                  <span class="about-testimonial-company">
                    Programador
                  </span>
                  <div class="about-testimonial-content">
                    <p class="about-testimonial-quote">
                      Trabajar en Gypnetwork es muy interesante, ya que siempre estamos enfrentando nuevos desafíos en tecnologías, e implementado nuevas formas de utilizar los sistemas de información para solucionar los problemas de nuestros clientes.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="about-testimonial-image ">
                    <img alt="" src="img/person_2.png">
                  </div>
                  <a class="about-testimonial-author" href="#">
                    Francisco Gonzalez
                  </a>
                  <span class="about-testimonial-company">
                    Instalador
                  </span>
                  <div class="about-testimonial-content">
                    <p class="about-testimonial-quote">
                      En Gypnetwork siempre estamos buscando cumplir con los mas altos estándares en todos nuestros trabajos de instalaciones de equipos de telecomunicaciones y seguridad, además de considerar siempre incorporar un compromiso de calidad con nuestros clientes.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </section>
        </div>
        <!--testimonial end-->
      </div>
      <div class="col-lg-7" id="skillz">
        <h3 class="skills">
          Nuestras Habilidades
        </h3>

        <div class="skill_bar">
          <div class="skill_bar_progress skill_one">
            <p>
              Instalación de cámaras de seguridad : 95%
            </p>
          </div>
        </div>

        <div class="skill_bar">
          <div class="skill_bar_progress skill_two">
            <p>
              Configuración de centrales de alarma : 80%
            </p>
          </div>
        </div>

        <div class="skill_bar">
          <div class="skill_bar_progress skill_three">
            <p>
              Configuracion de DVR : 98%
            </p>
          </div>
        </div>

        <div class="skill_bar">
          <div class="skill_bar_progress skill_four">
            <p>
              Configuración de centrales teléfonicas: 70%
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" id="tourpackages-carousel">

  <div class="row">
    <div class="profile">
      <h2>
        Nuestro Equipo
      </h2>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail wow fadeInUp" data-wow-delay=".1s">
          <img src="img/team/member1.png" alt="">
          <div class="caption">
            <h4>
              Francisco Gonzalez
            </h4>
            <p>
              Instalador Profesional con mas de 5 años de experiencia realizando distintos tipo de instalaciones de equipos de seguridad y telecomunicaciones.
            </p>
            <div class="team-social-link">
              <a href="#">
                <i class="fa fa-facebook">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-twitter">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-pinterest">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-linkedin">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-google-plus">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-github">
                </i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail wow fadeInUp" data-wow-delay=".3s">
          <img src="img/team/member2.png" alt="">
          <div class="caption">
            <h4>
              Javier Pérez
            </h4>
            <p>
              Programador de centrales teléfonicas y DVR.
            </p>
            <div class="team-social-link">
              <a href="#">
                <i class="fa fa-facebook">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-twitter">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-pinterest">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-linkedin">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-google-plus">
                </i>
              </a>
              <a href="#">
                <i class="fa fa-github">
                </i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--
<div class="col-xs-12 col-sm-6 col-md-3">
<div class="thumbnail wow fadeInUp" data-wow-delay=".5s">
<img src="img/team/member3.jpg" alt="">
<div class="caption">
<h4>
Thumbnail label
</h4>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit
</p>
<div class="team-social-link">
<a href="#">
<i class="fa fa-facebook">
</i>
</a>
<a href="#">
<i class="fa fa-twitter">
</i>
</a>
<a href="#">
<i class="fa fa-pinterest">
</i>
</a>
<a href="#">
<i class="fa fa-linkedin">
</i>
</a>
<a href="#">
<i class="fa fa-google-plus">
</i>
</a>
<a href="#">
<i class="fa fa-github">
</i>
</a>
</div>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="thumbnail wow fadeInUp" data-wow-delay=".7s">
<img src="img/team/member4.jpg" alt="">
<div class="caption">
<h4>
Thumbnail label
</h4>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit
</p>
<div class="team-social-link">
<a href="#">
<i class="fa fa-facebook">
</i>
</a>
<a href="#">
<i class="fa fa-twitter">
</i>
</a>
<a href="#">
<i class="fa fa-pinterest">
</i>
</a>
<a href="#">
<i class="fa fa-linkedin">
</i>
</a>
<a href="#">
<i class="fa fa-google-plus">
</i>
</a>
<a href="#">
<i class="fa fa-github">
</i>
</a>
</div>
</div>
</div>
</div>
-->
    </div>
    <!-- End row -->

  </div>
  <!-- End container -->
</div>

<!--property start
<div class="property gray-bg">
<div class="container">
<div class="row">
<div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
<img src="img/tab1.png" alt="">
</div>
<div class="col-lg-6 col-sm-6 wow fadeInRight">
<h1>
En la región de los rios.
</h1>
<hr>
<p>
<i class="fa fa-check fa-lg pr-10">
</i>
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener. natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener. natus error sit voluptatem accusantiu.
</p>
<p>
<i class="fa fa-check fa-lg pr-10">
</i>
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener. natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener. natus error sit voluptatem accusantiu.
</p>
<p>
<i class="fa fa-check fa-lg pr-10">
</i>
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.
</p>
<hr>
<a href="javascript:;" class="btn btn-purchase">
Purchase now
</a>
</div>
</div>
</div>
</div>
<!--property end-->


<div class="container">
  <div class="row mar-b-60">
    <div class="col-lg-6">
      <!--tab start-->
      <section class="tab wow fadeInLeft">
        <header class="panel-heading tab-bg-dark-navy-blue">
          <ul class="nav nav-tabs nav-justified ">
            <li class="active">
              <a data-toggle="tab" href="#news">
                Lo más Nuevo
              </a>
            </li>
            <!--
<li>
<a data-toggle="tab" href="#events">
Eventos
</a>
</li>
-->
            <li class="">
              <a data-toggle="tab" href="#comments">
                Comentarios
              </a>
            </li>
          </ul>
        </header>
        <div class="panel-body">
          <div class="tab-content tasi-tab">
            <div id="news" class="tab-pane fade in active">
              <article class="media">
                <a class="pull-left thumb p-thumb">
                  <img src="img/product1.jpg" alt="">
                </a>
                <div class="media-body b-btm">
                  <a href="#" class=" p-head">
                    Cámaras IP
                  </a>
                  <p>
                    Lo mejor en seguridad y calidad de video.
                  </p>
                </div>
              </article>
              <article class="media">
                <a class="pull-left thumb p-thumb">
                  <img src="img/product2.jpg" alt="">
                </a>
                <div class="media-body b-btm">
                  <a href="#" class=" p-head">
                    Alarma GSM
                  </a>
                  <p>
                    Central de alarma inteligente e inalámbrica.
                  </p>
                </div>
              </article>
            </div>
            <!--
<div id="events" class="tab-pane fade">
<article class="media">
<a class="pull-left thumb p-thumb">
<!--image goes here
</a>
<div class="media-body b-btm">
<a href="#" class="cmt-head">
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</a>
<p>

<i class="fa fa-time">
</i>
1 hours ago
</p>
</div>
</article>
<article class="media">
<a class="pull-left thumb p-thumb">
<!--image goes here
</a>
<div class="media-body b-btm">
<a href="#" class="cmt-head">
Nulla vel metus scelerisque ante sollicitudin commodo
</a>
<p>

<i class="fa fa-time">
</i>
23 mins ago
</p>
</div>
</article>
<article class="media">
<a class="pull-left thumb p-thumb">
<!--image goes here
</a>
<div class="media-body b-btm">
<a href="#" class="cmt-head">
Donec lacinia congue felis in faucibus.
</a>
<p>

<i class="fa fa-time">
</i>
15 mins ago
</p>
</div>
</article>
</div>
-->
            <div id="comments" class="tab-pane fade">
              <p>
                Aún no hay comentarios regitrados.
              </p>
              <!--
<p>
Notice board goes here Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.
</p>
-->
            </div>
          </div>
        </div>
      </section>
      <!--tab end-->
    </div>


    <div class="col-lg-6">
      <!--testimonial start-->
      <div class="about-testimonial boxed-style about-flexslider ">
        <section class="slider wow fadeInRight">
          <div class="flexslider">
            <ul class="slides about-flex-slides">
              <li>
                <div class="about-testimonial-image ">
                  <img alt="" src="img/person_1.png">
                </div>
                <a class="about-testimonial-author" href="#">
                  Javier Pérez Ferrada
                </a>
                <span class="about-testimonial-company">
                  Programador
                </span>
                <div class="about-testimonial-content">
                  <p class="about-testimonial-quote">
                    Encargado de hacer todas las programaciones de los equipos que instalamos.
                  </p>
                </div>
              </li>
              <li>
                <div class="about-testimonial-image ">
                  <img alt="" src="img/person_2.png">
                </div>
                <a class="about-testimonial-author" href="#">
                  Francisco Gonzalez
                </a>
                <span class="about-testimonial-company">
                  Instalador
                </span>
                <div class="about-testimonial-content">
                  <p class="about-testimonial-quote">
                    Encargado de hacer todas las gestiones técnicas y de infraestructura en nuestros proyectos.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </div>
      <!--testimonial end-->
    </div>
  </div>
</div>