<!--breadcrumbs start-->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <h1>
          Servicios
        </h1>
      </div>
      <div class="col-lg-8 col-sm-8">
        <ol class="breadcrumb pull-right">
          <li>
            <a routerLink="home">
              Inicio
            </a>
          </li>
          <li class="active">
            Servicios
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs end-->

<div class="gray-box">
  <div class="container">
    <div class="row">
      <div class="text-center feature-head">
        <h1>
          Nuestros Servicios
        </h1>
      </div>
      <div class="services">
        <div class="col-lg-6 col-sm-6">
          <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".1s">
            <i class="fa fa-desktop">
            </i>
          </div>
          <div class="content">
            <h3 class="title">
              Instalación de cámaras de seguridad
            </h3>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".3s">
            <i class="fa fa-gift">
            </i>
          </div>
          <div class="content">
            <h3 class="title">
              Instalación de alarmas de seguridad.
            </h3>
          </div>
        </div>
      </div>
      <div class="services">
        <div class="col-lg-6 col-sm-6">
          <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".5s">
            <i class="fa fa-code">
            </i>
          </div>
          <div class="content">
            <h3 class="title">
              Instalación y configuración de centrales telefónicas
            </h3>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".7s">
            <i class="fa fa-book">
            </i>
          </div>
          <div class="content">
            <h3 class="title">
              Instalación y configuración de redes
            </h3>
          </div>
        </div>
      </div>
      <div class="services">
        <div class="col-lg-6 col-sm-6">
          <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".9s">
            <i class="fa fa-bullhorn">
            </i>
          </div>
          <div class="content">
            <h3 class="title">
              Mantención de sistemas de seguridad
            </h3>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay="1.1s">
            <i class="fa fa-eye">
            </i>
          </div>
          <div class="content">
            <h3 class="title">
              Instalación y configuración de enlaces inalámbricos
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--container end-->
