<!--breadcrumbs start-->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <h1>Alarmas</h1>
      </div>
      <div class="col-lg-8 col-sm-8">
        <ol class="breadcrumb pull-right">
          <li><a routerLink="home">Inicio</a></li>
          <li><a href="#">Productos</a></li>
          <li class="active">Alarmas</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs end-->

<!--container start-->
<div class="gray-bg price-container">
  <div class="container">


    <div class="row mar-b-30">
      <!--price start-->
      <div class="col-lg-3 col-sm-3">
        <div class="pricing-table wow fadeInUp">
          <div class="pricing-head">
            <h1> Central de Alarma </h1>
            <!--<h2>
              <span class="note">$</span>100</h2>-->
          </div>
          <ul class="list-unstyled">
            <li>Inálambrica</li>
            <li>Cableda</li>
            <li>PSTN</li>
            <li>GSM</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3">
        <div class="pricing-table wow fadeInUp">
          <div class="pricing-head">
            <h1> Sensor de movimiento</h1>
            <!--<h2>
              <span class="note">$</span>200</h2>-->
          </div>
          <ul class="list-unstyled">
            <li>Inálambrico</li>
            <li>Cabledo</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3">
        <div class="pricing-table most-popular wow fadeInUp">
          <div class="pricing-head">
            <h1> Sensor de Humo </h1>
            <!--<h2>
              <span class="note">$</span>300</h2>-->
          </div>
          <ul class="list-unstyled">
            <li>Inálambrico</li>
            <li>Cabledo</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3">
        <div class="pricing-table wow fadeInUp">
          <div class="pricing-head">
            <h1> Bocina </h1>
            <!--<h2>
              <span class="note">$</span>400</h2>-->
          </div>
          <ul class="list-unstyled">
            <li>Inálambrica</li>
            <li>Cableda</li>
          </ul>
        </div>
      </div>
      <!--price end-->
    </div>


  </div>
</div>
<!--container end-->
